/* Modified by non-chm-output-bipane.pl, a post-process  */
/* script for HTML output.                Nov 30, 2006.  */

/* Special CSS for postprocess of html output:           */

/* Postprocess styles appended                           */

/* !! Replace the old css with this one in the style  !! */
/* !! of CMS output *before* running the preprocess   !! */
/* !! script.                                         !! */

/* Version 11/29/2006 Bill Crawford                      */

/********** Default page style ***************************/
body, p, td, input, textarea, select {
        font-family: Verdana, Arial; font-size: 8pt;
}

.content_htmlbody {
margin-left: 7px;
margin-top: 7px;
}

.index_htmlbody {margin: 0pt;}

.search_htmlbody {margin: 0pt;}

.contentTable {
background: #568; 
width: 100%; 
height: 100%;
padding-bottom: 0px;
} /* #CE9E08 */

.tdTOC {
padding-top: 20px;
padding-left: 8px;
background: white;
}

.tdContent {width: 75%; background: white;}

.iframeHeader {width: 100%; height: 25pt;}

.iframeTOC {
    width: 100%;
    height: 100%;

    }

.hidennFrame {
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

.iframeContent {
	width: 100%; 
	height: 100%; 
	background-color: white;
	
}

/************** Button class *************************/
.button {
    BORDER-RIGHT: #828282 1px outset;
	BORDER-TOP: #FFFFFF 0px;
	BORDER-LEFT: #FFFFFF 1px;
	WIDTH: 0px;
	BORDER-BOTTOM: #828282 1px outset;
	BACKGROUND-COLOR: #CE9E08;
	PADDING-RIGHT: 10pt;
	PADDING-LEFT: 10pt;
	PADDING-TOP: 2pt;
	PADDING-BOTTOM: 2pt;
	WHITE-SPACE: nowrap;
	DISPLAY: table-cell;  
}
.button:hover {
	BORDER-RIGHT: #828282 1px outset;
	BORDER-TOP: #FFFFFF 0px;
	BORDER-LEFT: #FFFFFF 1px;
	WIDTH: 0px;
	BORDER-BOTTOM: #828282 1px outset;
	BACKGROUND-COLOR: #7B8EB5;
	PADDING-RIGHT: 10pt;
	PADDING-LEFT: 10pt;
	PADDING-TOP: 2pt;
	PADDING-BOTTOM: 2pt;
}
a.button {
	FONT-WEIGHT: bold;
	FONT-SIZE: 9pt;
	COLOR: white;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}

a.button:hover {
	FONT-WEIGHT: bold;
	FONT-SIZE: 9pt;
	COLOR: white;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}


/* -----------------------------------------------------------------------------------------------
								contents, index, search buttons
 ----------------------------------------------------------------------------------------------- */


.tab_active {
	/* border-right: #ffffff 1px solid; */
    padding-left: 0px;
	padding-right: 0px;
    /* background-image: url(../images/tab.active.jpg); */
    background-color: white;
    cursor: pointer;
    width: 50%
}

.tab_inactive {
	/* border-right: #ffffff 1px solid; */
    padding-left: 0px;
	padding-right: 0px;
    /* background-image: url(../images/tab.inactive.jpg); */
    background-color: #457;
    cursor: pointer;
    width: 50%;
}

.tab_inactive .tabLink {
    color: white;
    font-weight: bold;
	text-decoration: none;
	font-size: 8pt;
    width: 100%;
    filter: dropshadow(color=#333333, offx=1, offy=1, positive=1);
}

.tab_active .tabLink {
    color: #346;
    font-weight: bold;
}


.tab_inactive .tabLink:hover {
	FONT-SIZE: 8pt;
	COLOR: #FCEBB5;
	TEXT-DECORATION: underline;
}

.book-title {
    padding: 5pt;
    padding-bottom: 7pt;
    font-size: 10pt;
    font-weight: bold;
    color: white;
}

/* ----------------------------------------------------- */
/* Postprocess styles */
/* ----------------------------------------------------- */

/* left-pane layout */
.contentTable {
background: #568; 
width: 100%;
height: 100%;
padding-bottom: 0px;
}

/* outer container of tab content */
/* common to all tab types */
.tdTOC {
padding-top: 13px;
padding-bottom: 13px;
padding-left: 10px;
padding-right: 13px;
background: white;
}

/* inner container of tab content */
/* common to all tab types */
/* has a thin border and scrollbars as needed */
.hidennFrame {
background: white;
border: 1px solid #999;
}

.book-title {
    padding-left: 8pt;
    background: #568;
    white-space: nowrap;
}

.book-title span {
    width: 100%;
    filter: dropshadow(color=#333333, offx=1, offy=1, positive=1);
}

.tab_active {
	border: none;
    padding-left: 10px;
	padding-right: 10px;
    background-image: none;
    background-color: white;
    cursor: pointer;
}

.tab_inactive {
	border: none;
    padding-left: 10px;
	padding-right: 10px;
    background-image: none;
    background-color: #457;
    cursor: pointer;
}

.tab_inactive .tabLink {
    color: white;
    font-weight: bold;
	text-decoration: none;
	font-size: 8pt;
    width: 100%;
    filter: dropshadow(color=#333333, offx=1, offy=1, positive=1);
}

.tab_active .tabLink {
    color: #346;
    font-weight: bold;
}

td#book-title {
height: 60px;
}

td#nav-tabs {
height: 30px;
}

td#contents {
}

td#index {
}

td#search {
display: none;
}

td#favorites {
display: none;
}

