/* Modified by non-chm-output-bipane.pl, a post-process  */
/* script for HTML output.                Apr 20, 2007.  */

/* Special CSS for postprocess of html output:           */

/* Postprocess styles appended                           */

/* !! Replace the old css with this one in the style  !! */
/* !! of CMS output *before* running the preprocess   !! */
/* !! script.                                         !! */

/* Version 11/29/2006 Bill Crawford                      */

/********** Default page style *******************************/
body, p, td, input, textarea, select {
        font-family: Verdana, Arial; font-size: 8pt;
}

.treeitem {text-decoration:none;}

a:link {color: #00289C; text-decoration: none; }
a:active, a:visited {color: #00289C; text-decoration: none; }
a:hover {color: #CE9E08; text-decoration: underline;}
	