/* Modified by non-chm-output-bipane.pl, a post-process  */
/* script for HTML output.                Nov 30, 2006.  */


.navigationMenuitem {
	TEXT-DECORATION: none;
	FONT-WEIGHT: bold;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	PADDING-LEFT: 15px;
	PADDING-RIGHT: 15px;
}

.navigationLink {
	color: #4A597B;
	text-decoration: none;
}

.navigationLink:hover {
	color: white;
	text-decoration: underline;
}

.tdHeader {BACKGROUND-COLOR: #C6CEDF;}

.unselectedMenuitem {
	background-color: #CE9E08; 
	PADDING-LEFT: 10px; 
	PADDING-RIGHT: 10px;
	BORDER-RIGHT: #828282 1px outset; 
	BORDER-TOP: #828282 1px solid;
}

/*

.selectedMenuitem {background-color: black; PADIING-LEFT: 10px; PADDING-RIGHT: 10px;}

.selectedMenuitem_blue {background-color: #1E5798; color: white;}

.selectedMenuitem_red {background-color: #FFA6A6;}

.unselectedMenuitem_blue {background-color: #CCCCCC;}

.unselectedMenuitem_red {background-color: #C60000; color: white;}

.headertitle {font-weight: bold;}
*/

/*
.headerbody_blue {background-color: #85A4C2; margin: 0pt; padding: 0pt; font-family: sans-serif; font-size: 11pt;}

.headerbody_red {background-color: #940000; margin: 0pt; padding: 0pt; font-family: sans-serif; font-size: 11pt;}

.headerbody {background-color: #F5F5F5; margin: 0pt; padding: 0pt; font-family: sans-serif; font-size: 11pt;}

.navigationMenuitem_blue {background-color: #1E5798; color: white;}

.navigationMenuitem_red {background-color: #FFA6A6;}

.headernavigation {width: 100%;}

.headermenu { }

*/





