/* Modified by non-chm-output-bipane.pl, a post-process  */
/* script for HTML output.                Nov 29, 2006.  */

.searchPhrase {text-align: center; font-weight:bold;}

.searchField {width: 100%;}

.searchResultList {width: 100%; height: 80%;}

.seacrchButton {width: 100%;}

.indexesForm { display:inline; height: 100%;}

.iframeIndexes {width: 100%; height: 100%;}

.tableIndexes {width: 100%; height: 100%;}

.tdIframeContainer {height: 98%;}

.tdSearchPhrase {height: 1%;}

.tdSearchField {width: 70%; height: 1%;}

.tdSeacrchButton {width: 30%; height: 1%;}

.index__entry_text {color: #00289C; text-decoration: none;}

a:link, a:active {color: #00289C; text-decoration: none;}

a:visited {text-decoration: none;}
a:hover {color: #CE9E08; text-decoration: underline;}

a.highlighted:link, a.highlighted:active, a.highlighted:visited, a.highlighted:hover {background-color: #7B8EB5; color: white;}

a.unhighlighted:link, a.unhighlighted:active, a.unhighlighted:visited {text-decoration: none;}

a.unhighlighted:hover {color: #CE9E08; text-decoration: none;}

.index__letter_group {background-color: #CE9E08; font-weight: bold; color: white; margin-bottom: 5pt; margin-top: 5pt; padding-left: 2pt;}

.index_entry {color: red;}

.index_entry__content {margin-left: 0.25in;}

.index_indents {color: black; font-style: italic;}

.index_indents a.unhighlighted:link, .index_indents a.unhighlighted:active, .index_indents a.unhighlighted:visited {color: red; text-decoration: none;}

.index_indents a {color: #00289C;}

DIV.ancestry a {
  color: white;
}

