/* 08/13/2006 Bill Crawford */

BODY {
background-color: #ffffff;
font-family: Verdana;
font-size: 10pt;
font-style: normal;
font-weight: normal;
color: #000000;
letter-spacing: normal;
word-spacing: normal;
text-align: left;
text-indent: 0pt;
margin-bottom: 1200;
margin-left: 12pt;
margin-right: 12pt;
margin-top: 0pt;
}

p {
margin-top: 10pt;
margin-bottom: 0;
}

/* ----------------------------------------------------------------------------
										Link styles
 ---------------------------------------------------------------------------- */
A {
color: #03b;
font-size: 10pt;
font-weight: normal;
text-decoration: underline;
}

A:link {
color: #03b;
}

A:visited {
color: #03b;
}

/* ----------------------------------------------------------------------------
										Table styles
 ---------------------------------------------------------------------------- */
p.table-title {
font-weight: bold;
}

table.table {
font-family: Arial, Helvetica, sans-serif;
font-size: 10pt;
font-style: normal;
font-weight: normal;
color: #000000;
background-color: transparent;
letter-spacing: normal;
text-align: left;
text-indent: 0pt;
word-spacing: normal;
margin-top: 5pt;
}

P.table-title + TABLE.table{
margin-top: -5pt;
} /* Table after it's title should have small top margin */

TABLE.table TH {
background-color:#CCC;
font-weight:bold;
} 

/*Head row cells*/
TABLE.table TR TD {
vertical-align: top;
} /*Body cells*/

TABLE.Ruled, TABLE.RuledWide {
border-top: 1 solid #249;
border-bottom: 2 solid #249;
}

TABLE.Ruled TH, TABLE.RuledWide TH {
/* border-top: 1 solid #249;    /* cf 48b in table.basic in arx dev */
/* border-bottom: 1 solid #249;    /* cf 48b in table.basic in arx dev */
padding-bottom: 6pt;
}

TABLE.Ruled TD, TABLE.RuledWide TD {
/* border-top: 1 solid #249;    /* cf 48b in table.basic in arx dev */
padding-bottom: 6pt;
}

TR.RuledHeading, TR.RuledWideHeading {
background-color: transparent;
}

TR.RuledEvenRow, TR.RuledWideEvenRow {
background-color: transparent;
}

TR.RuledOddRow, TR.RuledWideOddRow {
background-color: transparent;
}

TH.table-heading {
font-size: 10pt;
text-align: left;
font-weight: bold;
color: #003366;
}

P.table-body {} /* Paragraph within table body */
P.table-heading {} /* Paragraph within table body */
P.table-footing {} /* Paragraph within table body */

/* ----------------------------------------------------------------------------
										List styles
 ---------------------------------------------------------------------------- */

UL
{
margin-bottom: 0pt;
margin-left: 12pt;
margin-top: 6pt;
list-style-type: disc;
}

ul p {
margin-top: 6pt;
}

ul li {
margin-bottom: 0pt;
margin-top: 10pt;
padding-left: 6pt;
}

OL
{margin-bottom: 0pt;
margin-left: 18pt;
margin-top: 6pt}

ol p {
margin-top: 6pt;
}

ol li {
margin-bottom: 0pt;
margin-top: 10pt;
padding-left: 0pt;
}

div.see-also ul ul {
margin-left: 0;
}

div.see-also li {
margin-top: 4pt;
}

div.topic-list li {
margin-top: 4pt;
}

div.dl_section {
margin-left: 30pt;
}

div.dl_section p.title {
/* background-color: #79d; */
/* color: white;           */
/* padding-left: 6pt;*      /
/* padding-right: 6pt;     */
/* padding-top: 4pt;       */
/* padding-bottom: 5pt;    */
margin-top: 8pt;
margin-bottom: -4pt;
margin-left: -30pt;
color: #36c;
}

@media print {

    div.dl_section p.title {
    background-color: transparent
    }

}

DL {}

DL p {
margin-top: 6pt;
}

DT {
margin-top: 12pt;
margin-bottom: 0;
}

DD {
margin-top: 0pt;
margin-bottom: 0;
}

UL.jumplist {
margin-left:10pt;
margin-bottom: 10pt;
}

OL[start] {margin-top:2pt} /* continued list */

DIV.list-intro {font-size: 10pt;
margin-bottom: 5pt;
font-weight: bold;
color: #990000;}

DIV.enclosed-list {
margin-top: -5pt;
padding-left:15pt;
padding-bottom:0pt;
} /* Block to indent enclosed lists */

DIV.enclosed-list DIV.list-intro {
padding-top: 10pt;
} /* Subsequent list into */

DIV.enclosed-list UL {margin-top: 0pt;
margin-bottom: 0pt;}

DIV.enclosed-list OL {margin-top: 0pt;
margin-bottom: 0pt;}

div.topic-list h4.related {
font-weight: bold;
font-size: 10pt;
color: #338;
margin-top: 16pt;
margin-bottom: 8pt;
}
/* ----------------------------------------------------------------------------
										Note styles
 ---------------------------------------------------------------------------- */

DIV.note-note, DIV.note-warning, DIV.note-tip, DIV.note-related, DIV.note-important {
margin-top: 10pt;
margin-bottom: 0;
}

/* Notes within table */
TABLE.table DIV.note-note, TABLE.table DIV.note-warning, TABLE.table DIV.note-tip, TABLE.table DIV.note-related, TABLE.table DIV.note-important {
padding-top: 5px;
padding-bottom: 5px;
font-size: 9pt;
}
/* Notes within lists */

LI DIV.note-note, LI DIV.note-warning, LI DIV.note-tip, LI DIV.note-related, LI DIV.note-important {
margin-left: 0pt;
margin-top: 2pt;
margin-bottom: 8pt;
}

/*  Note label styles */
DIV.note-important SPAN.label {
color: #c00;
font-size: 9pt;
font-weight: bold;
padding-right: 5px;
}

DIV.note-warning SPAN.label {
color: #c00;
font-size: 9pt;
font-weight: bold;
padding-right: 5px;
}

DIV.note-note SPAN.label {
color: #338;
font-size: 9pt;
font-weight: bold;
padding-right: 5px;
}

DIV.note-tip SPAN.label {
color: #338;
font-size: 9pt;
font-weight: bold;
padding-right: 5px;
}

DIV.note-related SPAN.label {
color: #027;
font-size: 9pt;
font-weight: bold;
padding-right: 5px;
}

DIV.note-important SPAN.label {
color: #c00;
font-size: 9pt;
font-weight: bold;
padding-right: 5px;
}

/* ---------------------------------------------------------------------------------------------
                                        Code elements
 --------------------------------------------------------------------------------------------- */
SPAN.code, DIV.codeBlock, P.codeLine, P.codeComment, SPAN.codeLiteral {
font-family: "Courier New", Courier, monospace;
font-size: 10pt;
font-style: normal;
font-weight: normal;
}

SPAN.code {}

DIV.codeBlock DIV.codeBlock {
margin-left: 30pt;
} /* Only descendant code blocks should have indents */

P.codeLine, P.codeComment {
padding: 1px;
margin: 1px;
}

P.codeSpace {}

SPAN.codeLiteral {}


/* ---------------------------------------------------------------------------------------------
							Charspan
--------------------------------------------------------------------------------------------- */
SPAN.charspan-keyboardEntry {}

SPAN.charspan-strong {
font-weight:bold }

SPAN.charspan-special {}

/*
Note that CharSpan[@class='Emphasis'], CharSpan[@class='Subscript'] and CharSpan[@class='Superscript'] elements
are being formatted as <em>, <sub> and <sub> html elements so please change element css definitions instead of class
*/

/* ---------------------------------------------------------------------------------------------
							Emphasis
--------------------------------------------------------------------------------------------- */
EM, EM.mild {
font-style: italic }

EM.strong {
font-style: normal;
font-weight:bold }

EM.extreme {
font-style: italic;
font-weight:bold }

/* ---------------------------------------------------------------------------------------------
							UIString
--------------------------------------------------------------------------------------------- */
SPAN.uis-promptMessage {
font-style: normal;
font-weight: bold;
}

SPAN.uis-dialogCaption {
font-style: normal;
font-weight: bold;
}

SPAN.uis-entryField {
font-style: normal;
font-weight: bold;
}

SPAN.uis-menuText {}

SPAN.uis-stringTable {}

SPAN.uis-unspecified {}

/* -------------------------------------------------------------------------------------------
							Comments
------------------------------------------------------------------------------------------- */
DIV.comments-editor {font-weight: bold;color:red}

DIV.comments-localizer {font-weight: bold;color:red}

DIV.comments-special {font-weight: bold;color:red}

DIV.comments-author {
color: #cc0000;
margin-left: 24pt;
margin-right: 48pt }

/* ------------------------------------------------------------------------------------------
							Misc
------------------------------------------------------------------------------------------ */
.title, .list-intro {
font-weight: bold;
color: #990000;
margin-top: 10pt;
margin-bottom: -5pt;
}

p.title {
font-weight: bold;
font-size: 10pt;
color: #338;
margin-top: 16pt;
margin-bottom: 0pt;
}

p.list-intro {
font-weight: bold;
font-size: 10pt;
color: #338;
margin-top: 16pt;
margin-bottom: 0pt;
}

P.prompt {
margin-left: 12pt;
color: #0000cc }

P.entryField {
font-style: normal;
font-weight: bold;
} 	/* The same as 'uis-entryField'? */

SPAN.keyboardEntry { } 	/* The same as 'charspan-keyboardEntry'? */

SPAN.keyCaps{
font-style: normal;
font-weight: bold;
}

SPAN.filePath{
font-style: italic;
}

SPAN.appSetting{}

SPAN.bookTitle{}

SPAN.coord{}

SPAN.codeIdentifier{}

SPAN.dialogCaption{
font-style: italic;
}

SPAN.menuText{
font-style: normal;
font-weight: bold;
}

SPAN.glyphCopyright {}

SPAN.glyphTM {}

SPAN.glyphArrow {}

SPAN.glyphEllipsis {}

SPAN.glyphSpecial {}

SPAN.glyphRegistered {}

A.webLink {}

SPAN.fileName {}

SPAN.term {
font-size: 10pt;
font-weight: bold;
color: #36c;
}

DD DIV.definition { }

DD DIV.brief_example {
font-size: 9pt;
color: #000;
/* background-color : #c6cfd0; */
background-color : #77aacc;
padding-top: 7pt;
padding-bottom:7pt;
padding-left:15pt;
padding-right:15pt;
margin-right: 0pt;
margin-left: 0pt;
}

div.section {}

P.summary {}

/* -----------------------------------------------------------------------------------------------
								Topic heading elements
 ----------------------------------------------------------------------------------------------- */

/* head region */
div.head {
background-image: url(head_graphic.gif);
margin-left: -12pt;
margin-right: -12pt;
padding-top: 2pt;
/* background-color: #dfe; */
}

@media print {

   div.head {
   background-image: none;
   }

} /* @media print */

/* head block - sets head region margins */
div.head-block {
margin-left: 12pt;
margin-right: 12pt;
padding-top: 2pt;
padding-bottom: 4pt;
/* background-color: #fdc; */
}

/* nav group - aw search and browse buttons */
div.nav-group {
padding-top: 3pt;
padding-bottom: 0px;
/* background-color: #ada; */
}

@media print {

   div.nav-group {
   display: none;
   }

} /* @media print */

/* search block */
div.search {
padding-right: 6px;
margin-top: 0px;
margin-bottom: 4px;
padding-top: 0px;
padding-bottom: 0px;
float: left;
/* background-color: #cff; */
}

/* ask-me stuff */
form.ask-me {
padding-top: 0px;
padding-bottom: 0px;
margin-top: 0px;
margin-bottom: 0px;
float: left;
}

input.ask-me-image {
cursor: pointer;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 0px;
margin-bottom: 0px;
position: relative;
top: -1px;
}

input.ask-me-text {
font-family: verdana;
font-size: 10pt;
padding-left: 2px;
padding-top: 1px;
padding-bottom: 0px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 3px;
width: 160pt;
height: 23px;
}

/* browse button set */
div.browse {
text-align: right;
}

/* browse button info */
div.button-info {
font-size: 8pt;
width: 100%;
padding-top: 0pt;
padding-bottom: 2pt;
margin-top: 0pt;
text-align: right;
/* background-color: #ddf; */
}

span#infoline {
color: white;
padding-top: 0pt;
padding-bottom: 2pt;
visibility: hidden;
width: 100%;
white-space: nowrap;
/* filter: glow(color=#006699, strength=4); */
filter: dropshadow(color=#333333, offx=1, offy=1, positive=1);
}

/* head-text region */
div.head-text {
margin-top: 3pt;
}

/* head-text */
div.head-text span {
color: white;
font-size: 14pt;
line-height: 19pt;
padding-top: 1pt;
padding-bottom: 2pt;
width: 100%;
/* filter: glow(color=#006699, strength=4); */
filter: dropshadow(color=#333333, offx=1, offy=1, positive=1);
}

@media print {

   div.head-text span {
   font-size: 18pt;
   color: #666;
   filter: glow-off;
   }

} /* @media print */

/* breadcrumb trail */
div.ancestry {
color: white;
font-size: 8pt;
margin-top: 4pt;
padding-top: 1px;
padding-bottom: 2px;
/* background-color: #ddf; */
}

/* breadcrumb links */
div.ancestry a {
color: white;
padding-top: 1px;
padding-bottom: 2px;
/* background-color: #beb; */
}

/* -----------------------------------------------------------------------------------------------
								Topic footing (comments section) elements
 ----------------------------------------------------------------------------------------------- */

DIV.footer-block {
margin-top: 25pt;
margin-bottom: 20pt;
background-image:url(../images/ac.mainback.gif);
border-top: 2px #449 solid;
border-bottom: 2px #449 solid;
text-align : right;
padding-right: 15px;
padding-top: 8px;
padding-bottom: 14px;
display: block;
}

span.comments-link {
font-size: 8pt;
}

@media print {

   DIV.footer-block {
   display: none;
   }

}  /* @media print */

/* -----------------------------------------------------------------------------------------------
								Art related elements
 ----------------------------------------------------------------------------------------------- */

P.figure-title {
margin-top: 6pt;
margin-bottom: 16pt;
padding-top: 4pt;
padding-bottom: 5pt;
padding-left: 0;
padding-right: 8pt;
font-size: 8pt;
font-weight: bold;
color: black;
}

div.figure-anchor {
margin-top: 16pt;
}
